body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #cccccb4d;
}

/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#form {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 2rem;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #d4d4d44d;
    box-shadow: 10px 5px 10px rgba(43, 43, 43, 0.2);
    transition: background-color 0.3s ease-in-out
}

#form:hover {
    background-color: #b9b9b64d;
}

input {
    border: 1px solid;
    outline: none;
    border-radius: 3px;
    padding: 5px 0;
    margin: 5px;
    font-size: 15px;
}

.btn {
    width: 50%;
    align-self: center;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #59bdc3;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
    color: white;
}

.btn:hover {
    background-color: rgb(63, 112, 112);
}

p {
    text-align: center;
}

div {
    padding: 10px 0;
}